### Maven (Основное) ###
target/
*.jar
*.war
*.zip
# Исключаем отчеты о тестах, чтобы они не мусорили при каждом запуске CI
target/surefire-reports/
target/failsafe-reports/

### IntelliJ IDEA ###
.idea/
*.iml
*.iws
*.ipr
out/
# Настройки артефактов и библиотек
.idea/artifacts/
.idea/libraries/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

### OS Files ###
.DS_Store
Thumbs.db
Desktop.ini

### Java & Misc ###
*.log
*.tmp
*.temp
# Если используешь wrapper
.mvn/wrapper/maven-wrapper.jar